#landing
    #text
        %h1 Welcome to Food Journey
        %h3 A food journal app for your journey back to health.
        %p
            %a{ class: 'button', href: '/users/sign_up' } Sign Up
            %a{ class: 'button', href: '/users/sign_in' } Login

