- if @meal.errors.any?
    #error_explanation
        %ul
            - @meal.errors.full_messages.each do |msg|
                %li= msg
- clear_already_logged_in_alert
- unless flash[:alert].empty?
    #error_explanation
        = flash[:alert]