#nav
    %ul
        = link_to( image_tag('food_journey_white.png'), root_path)
        - if user_signed_in?
            = link_to 'Dashboard', dashboard_path(current_user)
            = link_to 'Sign Out', destroy_user_session_path, method: 'DELETE'